@import '../../assets/scss/mixins';

.pageHeading {
  margin-bottom: 15px;

  @media screen and (max-width: $xs-max-width) {
    margin-bottom: 10px;
  }
}

.pageTitle {
  font-size: $h2-font-size;
  font-weight: 500;
  margin-bottom: 0;
  color: #31a549;
}

.pageSubHeading {
  font-size: $h5-font-size;
  margin-bottom: 0;
  font-weight: 300;
}

.pageActions {
  margin-bottom: 0;

  @media screen and (max-width: $xs-max-width) {
    margin-top: 10px;
  }
}
