.equipmentChart {
  .ant-col {
    padding: 0 !important;
  }

  .rowChart {
    margin-left: -40px !important;
  }

  .equipmentSelect {
    text-align: right;
    margin-bottom: 10px;
  }

  .hidden {
    display: none;
  }
}
